.language-btn-wrap button {
  /*reset */
  border: none;
  margin: 0;
  padding: 0;
  background: transparent;
  outline: none;
  cursor: pointer;
  /*reset end*/
  margin-bottom: 0.5em;
  text-align: left;
  font-size: 1em;
}
.language-btn-wrap {
  display: inline-block;
  vertical-align: middle;
  line-height: 1.5em;
  padding: 0 0.625em;
  position: relative;
  font-size: 1em;
}
.language-btn-wrap::after {
  content: "";
  display: block;
  position: absolute;
  right: -2px;
  bottom: 0.25em;
  height: 1em;
  width: 1px;
  background: #1a1a1a;
}
.language-btn-wrap > .content {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
.language-btn-wrap > .content:hover .submenu,
.language-btn-wrap > .content:active .submenu,
.language-btn-wrap > .content:focus .submenu {
  display: block;
}
.language-btn-wrap .submenu {
  width: 1em;
  display: none;
  position: absolute;
  text-align: left;
  background: #fff;
  padding: 1.25em 0;
}
.language-btn-wrap .hoverChangeColor:hover,
.language-btn-wrap .hoverChangeColor:active {
  color: #005d83;
}

.language-btn-wrap .hoverChangeColor:focus {
  color: #005d83;
}

.language-btn-wrap .submenu a:last-child {
  margin-bottom: 0;
}
